registry=https://registry.npmjs.org/
always-auth=true

@patientenakte:registry=https://pkgs.dev.azure.com/knowledgeparkGmbH/KPARK/_packaging/NodePackage/npm/registry/

; begin auth token
//pkgs.dev.azure.com/knowledgeparkGmbH/KPARK/_packaging/NodePackage/npm/registry/:username=knowledgeparkGmbH
//pkgs.dev.azure.com/knowledgeparkGmbH/KPARK/_packaging/NodePackage/npm/registry/:_password=${KPARK_NPM_REGISTRY_TOKEN}
//pkgs.dev.azure.com/knowledgeparkGmbH/KPARK/_packaging/NodePackage/npm/registry/:email=pirates@list.spree.de
//pkgs.dev.azure.com/knowledgeparkGmbH/KPARK/_packaging/NodePackage/npm/:username=knowledgeparkGmbH
//pkgs.dev.azure.com/knowledgeparkGmbH/KPARK/_packaging/NodePackage/npm/:_password=${KPARK_NPM_REGISTRY_TOKEN}
//pkgs.dev.azure.com/knowledgeparkGmbH/KPARK/_packaging/NodePackage/npm/:email=pirates@list.spree.de
; end auth token
