:root {
  --blue900: #00152C;
  --blue800: #002B59;
  --blue700: #004085;
  --blue600: #0B57A9;
  --blue500: #166CC9;
  --blue500-05: rgba(22, 108, 201, 0.05);
  --red100: #FCE8E8;
  --red500: #E03131;
  --white: #FFFFFF;
  --white-30: rgba(255, 255, 255, 0.3);
  --gray100: #F7F7F8;
  --gray200: #EFF0F0;
  --gray300: #E7E7E9;
  --gray400: #E0E0E1;
  --gray500: #BDBDBE;
  --gray600: #767676;
  --gray700-10: rgba(0, 0, 0, 0.1);
  --gray700-15: rgba(0, 0, 0, 0.15);
  --gray800: #171717;
  --red600: #C31414;
}
