/* You can add global styles to this file, and also import other style files */
@use "typography";
@use "app/shared/services/alert/toastr.style";

* {
  padding: 0;
  margin: 0;
  border: none;
  background-color: unset;
}

html, body {
  width: 100%;
  height: 100%;
  // fix for: windows always shows a scrollbar, resulting in a double scrollbar here
  overflow: hidden;
}

.kpark-button {
  padding: 10px 16px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;

  &:disabled {
    background-color: #F6F6F6;
    color: #C0C0C0;
    pointer-events: none;
  }
}

.primary-button {
  background-color: #0060C8;
  color: #FFFFFF;

  &:hover, &:focus {
    background-color: #2394DD;
    border: 1px solid #0060C8;
  }
}

.secondary-button {
  background-color: #DFDFDF;
  color: #444444;

  &:hover, &:focus {
    background-color: #FAFAFA;
    border: 1px solid #0060C8;
    color: #666666;
  }
}
