registry=https://registry.npmjs.org/
@kpark:registry=https://nexus.spree.de/repository/npm-kpark/
//nexus.spree.de/repository/npm-kpark/:_authToken=${KPARK_COMP_LIB_TOKEN}
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${KPARK_FA_TOKEN}
